html{
    position: relative;
}

.topnav{
text-align: center;
justify-content: center;
display: flex;
}

.topnav a{
        padding: 30px 30px 10px 30px;
        color: white;
        text-align: center; 
      }


a{
    text-decoration: none;
}

a:visited {
    color: #ffffff;
  }

button{
    background-color: #9CFA00;
    color:#303030;
}

*{

    font-family: Poppins;
}

body{
    background-color: #303030;
    color: #ffffff;
}

#logo-home{
    width: 200px;
}




.titulo-centrado{
    text-align: center;
}

.recomendaciones{
    list-style-type: none;
}




.flex-container-conocenos{
    display: flex;
}


.box{
        width: 300px;
        border: 15px solid #9CFA00;
        padding: 50px;
        margin: 20px;
      
}



.device-container{
    position: relative;
    text-align: center;
    color: white;
  }



#apple-mockup{
    width: 100%;
    padding-top: 30px;
    opacity: 0.6;
}


  .top-left{
    position: absolute;
    top: 50px;
    left: 16px;
    color: #ffffff;
    font-size: 70px;
  }


.top-right{
    color:#ffffff;
    font-size: 70px;
      }

a:hover .top-right{
    font-size: 75px;
}
  

  .top-right-1{
    position: absolute;
    top: 50px;
    right: 16px;
  }

  .top-right-2{
    position: absolute;
    top: 140px;
    right: 16px;
  }

  .top-right-3{
    position: absolute;
    top: 230px;
    right: 16px;
  }


.foto-review{
    width: 100px;
}

.job-icon{
width: 100px;
}


.container-testimonals{
    float: left;
    overflow: hidden;
    width: 50%;
}


.testimonial{
    width: 300px;
    border: 15px solid #9CFA00;
    padding: 50px;
    margin: 20px;
        
}


.container-trabaja{
    float: left;
    overflow: hidden;
    width: 50%;
}

.job-overview{
    display: flex;
}

.container-apply{
    float: right;
    overflow: hidden;
    width: 50%;
}

.apply{
    text-align: center;
}

.flex-container-jobs{
    display: flex;
    padding-bottom: 50px;
}

.file-and-submit{
    text-align: center;
}


footer{
    text-align: center;
    width: 100%;
}

.pie-de-pagina{
    position: absolute;
    bottom: 0px;
}