@charset "UTF-8";
.topnav {
    text-align: center;
    justify-content: center;
    display: flex;
}
.topnav a {
    padding: 30px 30px 10px 30px;
    color: white;
    text-align: center;
}

footer {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
}

/* ESTILOS GLOBALES */
html {
    position: relative;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: #FFFFFF;
}

button {
    background-color: #548900;
    color: #ffffff;
    border-radius: 1rem;
}

* {
    font-family: Poppins;
}

body {
    background-color: #303030;
    color: #ffffff;
}

.titulo-centrado {
    text-align: center;
}

/* ESTILOS INDEX */
#logo-home {
    width: 150px;
}

.activities {
    width: 90%;
    background-color: #101010;
    color: #FFFFFF;
    padding: 40px 30px;
    border-style: solid;
    border-color: #101010;
    border-radius: 0.5rem;
    margin: 30px auto 10px auto;
    display: flex;
}

.left-dashboard {
    width: 35%;
}

.g-calendar {
    filter: invert(0.9) saturate(0.5) hue-rotate(145deg);
    width: 50vw;
    height: 60vh;
}

.rec-tool-test {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}
.rec-tool-test a {
    color: #FFFFFF;
}

/* ESTILOS CONÓCENOS */
.titulo-conocenos {
    text-align: center;
}

.about-us {
    text-align: justify;
    margin: 10px 20px;
}

.flex-container-conocenos-1, .flex-container-conocenos-2 {
    display: flex;
}

.box {
    border-radius: 0.5rem;
    padding: 50px;
    margin: 20px;
    height: auto;
    overflow: hidden;
}
.box:hover {
    background-color: #ffffff;
    color: #101010;
}
.box p {
    text-align: justify;
    font-size: 17px;
}

.box1 {
    width: 60vw;
    background-color: #B286FD;
}

.box2 {
    width: 40vw;
    background-color: #E55733;
}

.box3 {
    width: 45vw;
    background-color: #548900;
}

.box4 {
    width: 55vw;
    background-color: #101010;
}

/* ESTILOS DISPOSITIVOS */
.device-container {
    position: relative;
    text-align: center;
    color: white;
}

#apple-mockup {
    width: 100%;
    padding-top: 30px;
    opacity: 0.6;
}

.top-left {
    position: absolute;
    top: 50px;
    left: 16px;
    color: #ffffff;
    font-size: 70px;
}

.top-right {
    color: #ffffff;
    font-size: 70px;
}

a:hover .top-right {
    font-size: 75px;
}

.top-right-1 {
    position: absolute;
    top: 50px;
    right: 16px;
}

.top-right-2 {
    position: absolute;
    top: 140px;
    right: 16px;
}

.top-right-3 {
    position: absolute;
    top: 230px;
    right: 16px;
}

/* ESTILOS REVIEWS */
.foto-review {
    width: 100px;
    border-radius: 0.5rem;
}

.job-icon {
    width: 100px;
}

.container-testimonals {
    float: left;
    width: 50%;
    padding: 30px 0;
}

.testimonial-individual-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial {
    width: 300px;
    color: #303030;
    padding: 20px;
    margin: 20px;
    font-size: 12px;
    border-radius: 0.5rem;
    color: #ffffff;
}

.testimonial-1 {
    background-color: #548900;
}

.testimonial-2 {
    background-color: #101010;
}

.testimonial-3 {
    background-color: #E55733;
}

.testimonial-4 {
    background-color: #B286FD;
}

.container-sharing {
    justify-content: center;
    text-align: center;
    width: 50%;
    float: right;
    padding: 20px 0;
}
.container-sharing p {
    text-align: justify;
    padding: 0 30px 5px 30px;
}

/* REVIEWS FORM */
#fname {
    padding: 10px;
    border-radius: 50px;
    width: 300px;
    border-style: none;
    text-indent: 10px;
}

#comment {
    padding: 10px;
    border-radius: 30px;
    width: 300px;
    height: 200px;
    border-style: none;
    text-indent: 10px;
}

.button-review {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
}

/* ESTILOS TRABAJA CON NOSOTROS */
.container-trabaja {
    float: left;
    overflow: hidden;
    width: 50%;
    padding: 20px 0;
}
.container-trabaja h1 {
    text-align: center;
}
.container-trabaja p {
    text-align: justify;
    padding: 0 30px 30px 30px;
}

.job-overview {
    display: flex;
    column-gap: 80px;
    text-align: center;
    justify-content: center;
}

.job-icon-1 {
    fill: #548900;
}

.container-apply {
    float: right;
    overflow: hidden;
    width: 50%;
    padding: 20px 0;
}
.container-apply h2 {
    text-align: center;
}

.apply {
    text-align: center;
}

.flex-container-jobs {
    display: flex;
    padding-bottom: 50px;
}

.file-and-submit {
    text-align: center;
}

/* TRABAJA FORM */
#lname, #email {
    padding: 10px;
    border-radius: 50px;
    width: 300px;
    border-style: none;
    text-indent: 10px;
}

#jobs {
    padding: 10px;
    border-radius: 50px;
    width: 320px;
    border-style: none;
    text-indent: 10px;
}

select {
  /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
select.minimal:focus {
    background-image: linear-gradient(45deg, rgb(0, 128, 0) 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: rgb(0, 128, 0);
    outline: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

::file-selector-button {
    padding: 10px;
    border-radius: 50px;
    border-style: none;
}

.button-trabaja {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border-style: none;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {



    
    .container-testimonals {
    align-content: center;
    align-items: center;
    align-self: center;
    float: none;
    position: relative;
    margin: 0 auto;
    }
    .container-sharing {
    width: 80%;
    overflow: hidden;
    float: none;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    }
    .testimonial-individual-box {
    align-content: center;
    align-self: center;
    margin: auto 0;
    }
    .container-sharing p {
    text-align: justify;
    }
    .top-left {
    font-size: 60px;
    }
    a:hover .top-right {
    font-size: 65px;
    }
    .top-right {
    font-size: 60px;
    top: 50px;
    }
    .top-right-1 {
    top: 160px;
    }
    .top-right-2 {
    top: 270px;
    }
    .top-right-3 {
    top: 380px;
    }
    .job-overview {
    column-gap: 20px;
    align-items: center;
    }
}
@media only screen and (max-width: 768px) {
    .topnav {
    flex-direction: column;
    }
    #logo-home {
    height: 30%;
    width: 30%;
    }
    .activities {
        display: block;
    }
    .left-dashboard {
    display: flex;
    bottom: 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
    }
    .reco {
    text-align: center;
    }
    .howdy {
    text-align: left;
    }
    .dashboard-activities {
    text-align: center;
    }
    .recomendaciones {
    flex-direction: column;
    text-align: center;
    }
    .rec-tool {
    justify-content: space-between;
    }
    .about-us {
    text-align: justify;
    margin: 30px 40px;
    }
    .flex-container-conocenos-1, .flex-container-conocenos-2 {
    flex-direction: column;
    }
    .box {
    width: 70vw;
    height: min-content;
    margin: 10px;
    align-self: center;
    }
    .testimonial-individual-box {
    justify-content: center;
    margin: 0 auto;
    }
    .testimonial {
    width: 200px;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    font-size: 10px;
    }
    .container-sharing {
    width: 80%;
    text-align: center;
    align-self: center;
    float: none;
    margin: 0 auto;
    }
    .container-sharing p {
    text-align: justify;
    }
    .top-left {
    font-size: 40px;
    }
    a:hover .top-right {
    font-size: 45px;
    }
    .top-right {
    font-size: 40px;
    }
    .top-right-1 {
    top: 120px;
    }
    .top-right-2 {
    top: 190px;
    }
    .top-right-3 {
    top: 260px;
    }
    .container-trabaja {
    width: 95%;
    align-items: center;
    margin: auto;
    float: none;
    }
    .container-trabaja h1 {
    text-align: center;
    }
    .container-apply {
    float: none;
    overflow: hidden;
    width: 100%;
    }
    .job-overview {
    column-gap: none;
    display: block;
    }
    footer {
    font-size: 12px;
    }
}
@media (max-width: 413px) {
    .box {
    width: 55vw;
    height: 50px;
    margin: 10px;
    align-self: center;
    font-size: 12px;
    }
    .top-left {
    font-size: 30px;
    }
    a:hover .top-right {
    font-size: 35px;
    }
    .top-right {
    font-size: 30px;
    }
    .top-right-1 {
    top: 120px;
    }
    .top-right-2 {
    top: 160px;
    }
    .top-right-3 {
    top: 200px;
    }
    .testimonial {
    width: 100px;
    font-size: 10px;
    }
    footer {
    font-size: 9px;
    }
}

/*# sourceMappingURL=estilos.css.map */
